<section class="hero is-dark">
  <div class="hero-body">
    <article class="media">
      <figure class="media-left">
        <p class="image">
          <img src="https://www.totvs.com/Content/img/site/logo-header-lite.png">
        </p>
      </figure>
    </article>
    <br/>
    <h2 class="subtitle is-3">
      {{title}}
    </h2>
  </div>
</section>
<section class="hero is-info">
  <div class="hero-body">
    <div class="main_container">
      <div class="about_me">
        <h1 class="title">ME</h1>
        <div class="card">
          <app-about-me></app-about-me>
        </div>
      </div>
      <div class="my_photos">
        <h1 class="title">STILL MOMENTS</h1>

        <div class="card">
          <app-my-photos></app-my-photos>
        </div>
      </div>
      <div class="my_posts">
        <h1 class="title">MY THOUGHTS</h1>
        <div class="card">
          <div class="card-content">


            <app-my-wall></app-my-wall>
          </div>
        </div>
      </div>
      <div class="my_friend_feeds">
        <app-friend-feeds></app-friend-feeds>
      </div>
      <div class="my_friends">
        <h1 class="title">BUDDIES</h1>

        <div class="card">
          <app-my-friends></app-my-friends>
        </div>
      </div>
    </div>
  </div>
</section>